body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 12px;
}

a {
  margin-left: 40px;
  text-decoration: none;
  color: #333333;
  font-size: 24px;
}

h1 {
  font-weight: 500;
}

i {
  margin-top: 20px;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  margin-top: 15px;
}

#Home {
  margin-top: 100px;
}

#Services, #Our-Works, #Clients, #Contact {
  margin-top: 200px;
}

#Contact {
  height: 385px;
  background-color: #100E1D;
}

.services, .our-works, .clients, .testimonial, .footer-contents {
  margin: 0 150px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 50px;
}

.nav-title {
  font-size: 36px;
  color: #333333;
}

.header {
  width: 543px;
  margin-left: 250px;
}

.header-q {
  color: #2D9CDB;
  font-size: 18px;
}

.header-txt {
  font-size: 48px;
  color: #333333;
}

.header-img {
  text-align: center;
}

.head-img {
  width: 94%;
  border-radius: 18px;
}

.sub-header {
  width: 366px;
  margin-left: 250px;
}

.sub-txt {
  color: #4F4F4F;
  font-size: 18px;
}

.contact-field {
  margin-top: 40px;
}

.contact-txt {
  font-size: 14px;
  color: #828282;
}

.contact-box {
  background-color: #F2F2F2;
  width: 350px;
  height: 57px;
  border-radius: 12px;
}

.join {
  margin-top: 2px;
  color: white;
  text-align: center;
  width: 94px;
  height: 49px;
  background-color: #2D9CDB;
  border-radius: 12px;
  float: right;
}

.services-title {
  font-size: 36px;
  color: #333333;
  width: 345px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin-top: 40px;
  text-align: left;
  padding: 40px 30px;
  border-radius: 12px;
}

.card-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.card-txt {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #4F4F4F;
}

.card-btn {
  color: #828282;
  margin-top: 30px;
  background-color: #E0E0E0;
  width: 115px;
  height: 40px;
  border: 0 solid;
  border-radius: 12px;
}

.card:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-btn:hover {
  background-color: #2D9CDB;
  color: white;
}

.icon-box {
  font-size: 25px;
  color: white;
  background-color: #2D9CDB;
  width: 67px;
  height: 67px;
  border-radius: 12px;
  text-align: center;
}

.works-title {
  width: 448px;
  font-size: 36px;
  font-weight: 500;
  color: #333333;
}

.works-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 150px 225px 225px 150px 150px;
  column-gap: 20px;
}

.gallery-content-1 {
  grid-column: 1;
  grid-row: 2;
}

.gallery-content-2 {
  grid-column: 2;
  grid-row: 1;
}

.gallery-content-3 {
  grid-column: 1;
  grid-row: 6;
}

.gallery-content-4 {
  grid-column: 2;
  grid-row: 5;
}

.gallery-img {
  border-radius: 12px;
}

.gallery-txt {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #828282;
}

.gallery-title {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}

.more {
  margin-left: 400px;
  margin-top: 425px;
  grid-column: 2;
  grid-row: 7;
  display: flex;
  align-items: baseline;
}

.more-txt {
  margin-right: 10px;
  font-weight: 500;
  font-size: 24px;
  color: #2D9CDB;
}

.clients {
  display: flex;
}

.client-info, .testimonial {
  margin-top: 150px;
}

.clients-sub-title {
  font-size: 18px;
  color: #EB5757;
  font-weight: 500;
}

.clients-title {
  font-size: 36px;
  width: 280px;
  color: #333333;
}

.clients-txt {
  font-size: 16px;
  color: #4F4F4F;
  width: 270px;
}

.clients-gallery {
  display: grid;
  margin-left: 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 125px);
  column-gap: 20px;
  row-gap: 15px;
}

.person3 {
  grid-column: 1;
  grid-row: 2;
  border-radius: 12px;
}

.person1 {
  grid-column: 2;
  grid-row: 1;
  border-radius: 12px;
}

.person2 {
  grid-column: 2;
  grid-row: 3;
  border-radius: 12px;
}

.testimonial-txt {
  font-size: 36px;
  font-weight: 500;
  width: 930px;
}

.testimonial-profile {
  display: flex;
  align-items: center;
}

.testimonial-img {
  border-radius: 12px;
  width: 80px;
}

.profile-info {
  margin-left: 30px;
}

.profile-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.profile-txt {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: #828282;
}

.footer-contents {
  display: flex;
  padding-top: 45px;
}

.a {
  margin-left: 0;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.socials {
  margin-left: 200px;
}

.socials-title {
  margin: 0;
  font-size: 36px;
  font-weight: 800;
  color: white;
}

.icons {
  margin-left: 10px;
}

.S-contact-field {
  margin-left: 200px;
}

.S-contact-txt {
  font-size: 14px;
  color: white;
}

.s-email {
  margin: 0 130px 0 20px;
  width: 100px;
  font-size: 18px;
  color: #BDBDBD;
}

.s-contact-box {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  width: 350px;
  height: 57px;
  border-radius: 12px;
}

.s-join {
  text-align: center;
  background-color: #2D9CDB;
  position: relative;
  left: 0px;
  margin-top: 0px;
  color: white;
  width: 94px;
  height: 49px;
  border-radius: 12px;
}

@media only screen and (max-width: 375px) {
  nav a {
    display: none;
  }

  .nav-title {
    font-size: 24px;
  }

  .navbar {
    margin: 10px 10px;
  }

  #Home {
    margin-top: 50px;
  }

  #Services, #Our-Works, #Clients, #Contact {
    margin-top: 100px;
  }

  #Contact {
    height: 100vh;
    background-color: #100E1D;
  }

  .services, .our-works, .clients, .testimonial, .footer-contents {
    margin: 50px 10px;
  }

  .header {
    width: 272px;
    margin-left: 30px;
  }

  .header-q {
    color: #2D9CDB;
    font-size: 12px;
  }

  .header-txt {
    font-size: 24px;
    color: #333333;
  }

  .head-img {
    width: 95%;
  }

  .sub-header {
    width: 227px;
    margin-left: 40px;
  }

  .sub-txt {
    color: #4F4F4F;
    font-size: 12px;
  }

  .contact-field {
    margin-top: 30px;
  }

  .contact-txt {
    font-size: 10px;
  }

  .contact-box {
    width: 291px;
    height: 47px;
  }

  .join {
    margin-top: 4px;
    width: 71px;
    height: 39px;
  }

  .join-txt {
    margin: 7px;
  }

  .services-title {
    margin-left: 40px;
    font-size: 24px;
    width: 259px;
  }

  .service-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .works-title {
    margin-left: 40px;
    width: 267px;
    font-size: 24px;
  }

  .works-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    height: auto;
  }

  .gallery-content-1 {
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 30px;
  }

  .gallery-content-2 {
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 30px;
  }

  .gallery-content-3 {
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 30px;
  }

  .gallery-content-4 {
    grid-column: 1;
    grid-row: auto;
  }

  .gallery-img {
    border-radius: 12px;
    width: 351px;
  }

  .gallery-txt {
    font-size: 12px;
  }

  .gallery-title {
    font-size: 18px;
  }

  .more {
    margin-left: 0;
    margin-top: 0;
    grid-column: 1;
    grid-row: 7;
    display: flex;
    align-items: baseline;
  }

  .more-txt {
    font-size: 18px;
  }

  .client-info, .testimonial {
    margin-top: 0px;
  }

  .clients {
    display: flex;
    flex-direction: column;
  }

  .clients-gallery {
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 75px);
    column-gap: 10px;
    row-gap: 0;
  }

  .clients-txt {
    margin: 0;
    margin-bottom: 30px;
  }

  .person1 {
    width: 145px;
  }

  .person2 {
    width: 160px;
    height: 165px;
  }

  .person3 {
    width: 178px;
  }

  .testimonial-txt {
    font-size: 24px;
    width: 351px;
  }

  .footer-contents {
    display: flex;
    padding-top: 45px;
    flex-direction: column;
  }

  .socials {
    margin: 40px;
  }

  .S-contact-field {
    text-align: center;
    margin-left: 40px;
  }

  .S-contact-txt {
    font-size: 10px;
    text-align: left;
    color: #828282;
  }

  .s-contact-box {
    width: 291px;
    height: 47px;
  }

  .s-email {
    margin: 10px;
    width: auto;
    font-size: 14px;
  }

  .s-join {
    background-color: #2D9CDB;
    position: relative;
    left: 155px;
    margin-top: 0px;
    color: white;
    width: 71px;
    height: 39px;
    border-radius: 12px;
  }
}
